FLASK_ENV=development
SECRET_KEY=
CERT_PASSWORD_KEY=
DATABASE_PATH=data/app.db
STORAGE_CERTIFICADOS=storage/certificados
STORAGE_CERTIFICADOS_ARQUIVADOS=storage/certificados_arquivados
STORAGE_DOCUMENTOS_IDENTIFICACAO=storage/documentos_identificacao
APP_LOGIN_USER=
APP_LOGIN_PASSWORD_HASH=
BACKUP_ENCRYPTION_KEY=
